{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    TodoListo! Bienvenido {{ user.username }}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            {% if aux %}
                <button class="btn btn-primary" type="submit">Agregar nueva tarea</button>
            {% endif %}
        </form>
    </div>
    <div clas="col-md-6">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th> Título </th>
                    <th> Estado </th>
                    <th> Fecha Inicio </th>
                    <th> Fecha Término </th>
                    <th> Eliminar </th>
                    <th> Editar </th>
                </tr>
                {% for t in tarea %}
                <tr>
                    <td>{{ t.titulo }}</td>
                    <td>{{ t.estado }}</td>
                    <td>{{ t.fechaInicio }}</td>
                    <td>{{ t.fechaTermino }}</td>
                    <td><a class="btn btn-primary" href="{% url 'eliminarTarea' t.id %}"> Eliminar </a>
                    <td><a class="btn btn-primary" href="{% url 'editarTarea' t.id %}"> Editar </a>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-primary" href="{% url 'calendario' %}">Calendario</a>
        </div>
    </div>
</div>
{% endblock %}
